{% extends "index.html" %}
{% block content %}
{% load static %}
    <div class="openedSession" id="OS">
        <input type="text" id="rows">
        <input type="text" id="columns">
        <button id="btnCreate">Создать</button>
        
        <div class="chairsbar">
            <div id="chairs">
                <img src = "{% static "images/chair.png" %}" >
            </div>
            <div id="sofas">
                <img src = "{% static "images/sofa.png" %}" >
            </div>
            <div id="reset">reset</div>
        </div>

    </div> 
    <script>
        let status;
        let chair = document.getElementById('chairs');
        let sofa = document.getElementById('sofas');
        let reset = document.getElementById('reset');
        reset.onclick = setReset;
        chair.onclick = setChair;
        sofa.onclick = setSofa;
        function setChair(){
            status = "chair";
        }
        function setSofa(){
            status = "sofa";
        }
        function setReset(){
            status = "reset";
        }
        let btn = document.getElementById('btnCreate');
        btn.onclick = crt;
        function crt(e){
            let row = document.getElementById('rows').value;
            let column = document.getElementById('columns').value;
            let container = document.createElement('div');
            container.classList.add("grid-container");
            let str = "grid" + ":repeat(" + row + ",70px)/repeat(" + column + ", 70px);";
            container.style = str;
            let os = document.getElementById('OS');
            os.appendChild(container);
            
            
            for (let i=1; i<=parseInt(row)*parseInt(column); i++){
                let item = document.createElement('div');
                item.setAttribute('id', i);
                item.classList.add("grid-item");
                item.classList.add("free");
                // let img = '<img src = "{% static "images/chair.png" %}" >'; 
                // item.innerHTML = img;
                item.onclick=change;
                function change(e){
                    if(status == "chair"){
                        e.target.innerHTML = '<img src = "{% static "images/chair.png" %}" >';
                        //e.target.classList.add("selected");
                    }
                    else if (status == "sofa"){
                        e.target.innerHTML = '<img src = "{% static "images/sofa.png" %}" >';
                        // e.target.classList.remove("selected");
                        // e.target.classList.add("free");                     
                    }
                    else {
                        e.target.innerHTML = '';
                    }
                }
                container.appendChild(item);
            }
        }


    </script>
{% endblock content %}