{% extends "index.html" %}
{% block content %}
{% load static %}

    <div class="openedSession" id="OS">
        <input type="text" id="rows">
        <input type="text" id="columns">
        <button id="btnCreate">Создать</button>
        
        <div class="chairsbar">
            <div id="chairs">
                <img src = "{% static "images/chair.png" %}" >
            </div>
            <div id="sofas">
                <img src = "{% static "images/sofa.png" %}" >
            </div>
            <div id="reset">reset</div>
        </div>

    </div> 
    <script>
        let status;
        let chair = document.getElementById('chairs');
        let sofa = document.getElementById('sofas');
        let reset = document.getElementById('reset');
        reset.onclick = setReset;
        chair.onclick = setChair;
        sofa.onclick = setSofa;
        function setChair(){
            status = "chair";
        }
        function setSofa(){
            status = "sofa";
        }
        function setReset(){
            status = "reset";
        }
        let btn = document.getElementById('btnCreate');
        btn.onclick = crt;
        function crt(e){
            let checkans = document.getElementById("ans");
            let checkform = document.getElementById("idform");
            if (checkans){
                checkans.remove();
                checkform.remove();
            }               
            
            let row = document.getElementById('rows').value;
            let column = document.getElementById('columns').value;
            let anscontainer = document.createElement('div');
            anscontainer.setAttribute('id', 'ans');
            let container = document.createElement('div');
            container.setAttribute('id', 'grid-container');
            container.classList.add("grid-container");
            let str = "grid" + ":repeat(" + row + ",70px)/repeat(" + column + ", 70px);";
            container.style = str;
            let os = document.getElementById('OS');
            os.appendChild(anscontainer);
            anscontainer.appendChild(container);
            
            
            for (let i=1; i<=parseInt(row)*parseInt(column); i++){
                let item = document.createElement('div');
                item.setAttribute('id', i);
                item.classList.add("grid-item");
                item.classList.add("free");                
                item.onclick=change;
                function change(e){
                    if(status == "chair"){
                        e.target.innerHTML = '<img src = "{% static "images/chair.png" %}" >';
                        //e.target.classList.add("selected");
                    }
                    else if (status == "sofa"){
                        e.target.innerHTML = '<img src = "{% static "images/sofa.png" %}" >';
                        // e.target.classList.remove("selected");
                        // e.target.classList.add("free");                     
                    }
                    else {
                        e.target.innerHTML = '';
                    }
                }
                container.appendChild(item);
            }

            let form = document.createElement('form');
            form.setAttribute('id', 'idform');
            form.onsubmit = formSubmit;
            function formSubmit(){

                let data = new FormData();
            data.append("csrfmiddlewaretoken", '{{csrf_token}}');
            data.append("code", anscontainer.innerHTML );
            axios.post('', data)
            };
            //form.name="formmain";
            form.action='';
            //form.method='POST';
            form.innerHTML='{% csrf_token %} <button id="savebutton">save2<button>';
            let formdiv = document.createElement('div');
            os.appendChild(form);
            let svbtn = document.getElementById('savebutton');
            svbtn.onclick = saveclick;
            
            function saveclick(){
                form.submit();
            }
            

        }


    </script>
{% endblock content %}