.grid-container {
    
    display: grid;
    
}
.grid-item {
    
    border: solid 2px #000;
    text-align: center;
    font-size: 15px;
    background-image: url("{% static D:/django/.venv/Scripts/servationCustom/servationCustom/hello/static/images/chair.png %}");
    
}
.selected{
    
    
        background-repeat: no-repeat;
        background-position: -40px 0px;
        background-size: cover;
}
.free{
    color: black;
   
}
.grid-item:hover{
    cursor: pointer;
    background-color: aqua;
}
.openedSession{
    position: absolute;
    top: 100px;
    left: 0%;
}
.chairsbar div{
    height: 70px;
    width: 70px;
    border: solid 2px #000;
    text-align: center;
    cursor: pointer;
}