.grid-container {
    
    display: grid;
    
}
.grid-item {
    
    border: solid 2px #000;
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    
}
.selected{
    background-color: black;
    color: white;
}
.free{
    color: black;
    background-color: white;
}
.grid-item:hover{
    background-color: aqua;
}
.openedSession{
    position: absolute;
    top: 100px;
    left: 0%;
}